@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Raleway:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --fundo:#231f20;
    --fundoescurinho:#1b1919;
    --avermelhado:#bb4430;
    --esverdeado:#7ebdc2;
    --amarelado: #f3dfa2;
    --begeclaro:#efe6dd;
    --begeclaroTransp:#efe6ddf6;
    --cinzatransparente: rgb(225,225,225,0.5);

}
html {
    scroll-behavior: smooth;
}
body{
    width: 99vw;
    height: 100vh;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    background-color: var(--fundo);


}

body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--cinzatransparente);    /* color of the scroll thumb */
    border-radius: 0;       /* roundness of the scroll thumb */
    border: 0px;  /* creates padding around scroll thumb */
}











header{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100px;

    transition: 500ms;
}

header ul{
    position: relative;
    display: flex;
    flex-direction: row;

    gap: 10px;
}




header ul li{
    position:relative;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

header ul li a{
    position: relative;
    font-size: 1.7rem;
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--cinzatransparente);
}

header ul li a::before{
    content: attr(data-text);
    white-space: nowrap;
    position: absolute;
    color: transparent;
    width: 0;
    overflow: hidden;
    border-right: 8px solid var(--clr);
    transition: 500ms;
    -webkit-text-stroke: 1px var(--clr);
}


header ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

hr{
    border: 0;
    min-height: 0.5px;
    background-image: linear-gradient(to right, var(--fundo), var(--amarelado), var(--fundo));

    margin-bottom: 20px;
}


.container{
    position: relative;
    display: flex;
    width: 100%;
}

.principal{
    min-height: 300px;
    height: auto;
    flex-direction: column;

    
}


.biografia{
    min-height: auto;
    height: auto;
    
}


#perfil{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    max-height: 255px;
    
}

#texto{
    width: 70%;
    color: var(--begeclaro);
    text-align: justify;

}

#img1{
    width: 70%;
    min-width: 185px;
    object-fit: cover;
    object-position: 0 60%;

    border-radius: 3px;
    box-shadow:  9px 9px 18px #1f1b1c,
             -9px -9px 18px #272324;
}

.titles{
    position: relative;
    text-align: center;
    margin: 20px;

    font-weight: bold;
    text-decoration: var(--clr) underline;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--cinzatransparente);
    filter: drop-shadow(0 0 1px var(--clr));



}

.difesp{
    justify-content: center;
}

.peojetosesp{
    min-width: 80%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--fundoescurinho);
    padding: 30px 40px;
    border-radius: 4px;
}


.projs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    min-height: 90%;
    max-height: 350px;
    max-width: 300px;
    margin: 3%;

    border-radius: 3px;
    background: var(--fundo);

}

.projs p{
    color: var(--begeclaro);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 5px;
}

.btn{
    position: relative;
    font-size: 19px;
    padding: 8px 30px;

    border-radius: 5px;
    border: 3px solid var(--clr);

    color: var(--clr);
    font-weight: bold;
    cursor: pointer;
    transition: 200ms linear;

}

.btn:hover{
    color: var(--begeclaro);
    background-color: var(--clr);
}



@media only screen  and (min-width:800px) and (max-width:900px){
    .projs p{
        font-size: 17px;
    }
}

@media only screen  and (min-width:660px) and (max-width:800px){
    .projs p{
        font-size: 14.5px;
    }
}




@media only screen and (max-width:660px){


    header{
        justify-content: left;
        min-height: 250px;

    }

    header ul{
        padding-top: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
    
        gap: 10px;
    }
    header ul li a{
        position: relative;
        font-size: 3rem;
        white-space: nowrap;
        font-weight: bold;
        text-decoration: none;
        line-height: 1em;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--cinzatransparente);
    }
    .principal{
        min-height: 1000px;
    }

    .biografia{
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }
    #perfil{
        width: 90%;
        min-height:300px;
    }

    #texto{
        width: 90%;
        min-width: 350px;
        font-size: 1.2rem;
    }

    .peojetosesp{
        flex-direction: column;
    }
    .projs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-width: 60%;
        max-height: 350px;
        min-height: 350px;
    }
    .projs img{
        width: 50%;
    }

}

